<div class="login-form m-4">
  <h2>Log in</h2>

  <form method="post" action="{{fullPath "/auth/login/callback"}}">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="Username"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Password"
      />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Log in</button>
    </div>
  </form>
</div>