<div class="option-menu">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a href="{{.FullPath}}" class="nav-link active">View</a></li>
        {{if .IsEditor}}
        <li class="nav-item"><a href="{{.EditPath}}" class="nav-link">Edit</a></li>
        {{end}}
        <li class="nav-item"><a href="{{.HistoryPath}}" class="nav-link">History</a></li>
    </ul>
</div>
<div class="content">
    {{.ParsedContent}}
</div>
<div class="footer">
    <hr>
    <small>
        Last edited by {{.Metadata.LastAuthor}} (<code>{{.Metadata.LastAuthorID}}</code>) on {{.Metadata.Time}}.
    </small>
</div>
