<div class="row">
    <div class="col-sm-4 mb-3">
        <div class="list-group">
            <a href="{{fullPath "/auth/preferences"}}" class="list-group-item list-group-item-action">User information</a>
            <a href="{{fullPath "/auth/preferences/authentication"}}" class="list-group-item list-group-item-action">Authentication</a>
            <a href="{{fullPath "/auth/preferences/invites"}}" class="list-group-item list-group-item-action">Invite codes</a>
            <a href="{{fullPath "/auth/preferences/sessions"}}" class="list-group-item list-group-item-action active">Active sessions</a>
        </div>
    </div>
    <div class="col-sm-8 mb-3">
      <h2>Active sessions</h2>
      <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Expires</th>
                <th scope="col">Current?</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
          {{range .Sessions}}
          <tr>
            <td scope="row"><code>{{.SessionID}}</code></td>
            <td>{{.Expires}}</td>
            <td>{{if (eq .Cookie $.CurrentCookie)}}✔{{else}}✘{{end}}</td>
            <td>
              {{if (eq .Cookie $.CurrentCookie)}}
              <button type="button" class="btn btn-danger" disabled>Invalidate</button>
              {{else}}
              <a class="btn btn-danger" href="{{fullPath (printf "/auth/preferences/delete-session/%s" .SessionID)}}" role="button">Invalidate</a>
              {{end}}
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
  