.container-outer {
  margin: 1em;
}

.container-inner {
  margin: 1em 0;
}

@media only screen and (min-width: 768px) {
  .container-inner {
    margin: 3em 0;
  }

  .login-form {
    padding: 0 10em;
  }
}
